<div class="container-fluid">
	<div class="row" id= "formrow">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header" id="header">Login</div>
				<div class="card-body">
					<form [formGroup] = "login">
						<div class="form-group">
							<label for="email"><i class="fas fa-user"></i> &nbsp;Email address/ Phone Number:</label>
							<input type="email" class="form-control" id="email" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors}">
							<div *ngIf = "submitted && f.username.errors" class = "invalid-feedback">
								<div *ngIf = "f.username.errors.required">
									Enter username
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="pwd">Password:</label>
							<input type="password" class="form-control" id="pwd" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors}">
							<div *ngIf = "submitted && f.password.errors" class = "invalid-feedback">
								<div *ngIf = "f.password.errors.required">
									enter password
								</div>
							</div>
						</div>
						<button type="button" class="btn btn-primary" id = "login" (click) = "onSubmit()">Login</button>
						<br>
						<div class="row">
							<a href="#" id = "registerlink">Not an user? Register</a>
						</div>
					</form>
				</div> 
			</div>
		</div>
		<div class="col-md-4">
	
		</div>
	</div>
</div>