<div class="container-fluid">
  <div class="row" id= "formrow">
      <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header" id="header">Sign Up</div>
                <div class="card-body">
                  <form>
                      <div class="form-group">
                        <label for="email"><i class="fas fa-envelope"></i> &nbsp;Email address:</label>
                        <input type="email" class="form-control" id="email">
                      </div>
                      <div class="form-group">
                        <label for="ph_no"><i class="fas fa-phone"></i>&nbsp;Phone Number:</label>
                        <input type="text" class="form-control" id="ph_no">
                      </div>
                      <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd">
                      </div>
                      <div class="form-group">
                        <label for = "address"><i class="far fa-address-card"></i>&nbsp;Address:</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                      </div>
                      <button type="button" class="btn btn-primary" id = "button">Register</button>
                    </form>
                </div> 
              </div>
        </div>
        <div class="col-md-4">
      
        </div>
  </div>
  
</div>