.box {
    color: black;
    background-color: skyblue;
    margin-top: 5%;
    /*border: 10px solid royalblue;
    border-top: 50px solid royalblue;*/
    padding: 25px;
    margin-bottom: 5%;
    border-radius: 5px;
}
.inner {
    background-color: white;
    border: 30px solid skyblue; 
    /*padding: 25px;*/
}
fieldset {
    border: 1px solid #000;
}
.reset {
    float: right;
    font-size: 125%;
    margin-top: 10px;
    margin-bottom: 15px;
    color: blue;
}
.speech-bubble {
    position: relative;
    background: #f3ee06;
    border-radius: .4em;
    width: 55%;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #f3ee06;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

#content{
    margin-top: 10px;
    border: 5px solid #1a73e8;
    border-top: 24px solid #1a73e8;
    padding:10px;
    background: skyblue;
}
.titlebox{
    float:left;
    font-size: 100%;
    color: #1a73e8;
    padding:0 10px;
    margin:-34px 0 0 50px;
    background:#fff;

}
